<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <table>
      <tr>
        <th>You have a Project, <%=userName%></th>
      </tr>
      <tr>
        <td>
          <p>Hi, <%=userName%></p>
          <p>
            You have received a Project. <br />
            Kindly check details below. Kind regards,<br />
            Management
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
