
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Welcome to Our PangaProjo, <%=userName%></th>
      </tr>
      <tr>
        <td>
          <p>Hi, <%=userName%></p>
          <p>
            <img
              src="https://www.istockphoto.com/photo/woman-hand-opening-the-door-of-a-white-car-casting-a-shadow-over-it-at-sunrise-time-gm1420317937-466367895"
              alt=""
            />
          </p>
          <p>
            Thank you for signing up. <br />
            Welcome to Our Project Management Platform. Efficiently manage your
            projects with our comprehensive project management tools at
            PangaProjo. <br />

            Thank you.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
